footer.footer
  .footer-head
    .container
      .footer-head-inner
        //- .sub-news
        //-   i.icon-edit2
        //-   span Подписаться на акции и новости
        //- .subscribe-form.wrap-form
        //-   form
        //-     .subscribe-inp
        //-       input.finp.finp-footer(type="text" placeholder=" Ваш E-mail") 
        //-     button.btn.secondary.text-uppercase Подписаться
        