.navbar-header
  .nav-toggle-btn
    .open-menu
      .hamburger
        span
        span
        span
      .cross
        span
        span
  .navigation.clearfix
    ul
      li
        a.active(href="#")
          span Home
      li
        a(href="#")
          span Service                      
      li
        a(href="#")
          span Portfolio                      
      li
        a(href="#")
          span Team
      li
        a(href="#")
          span Blog
      li
        a(href="#")
          span Contact
       