extends layouts/default

block page
  - var page = "index";
block title
  title Time-isMoney test
     
block content
  .container
    include partials/team    
  include partials/plans    
  include partials/contacts    
  
