.contacts-wrap
  .container
    .contacts.clearfix
      h2.contacts-heading  Contact Us
      .contacts-info
        .info-head Get in touch with us
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
        .social
          a(href="#").facebook
          a(href="#").twitter
          a(href="#").google
        .info-det
          span Posted by Dospel & GanjaParker
          span +XX-XXXX - XXXX - XX
          span info@mail.com
      .contacts-form
        form(action="")
          .form-row
            input(type="text" class="finp" placeholder="Name")
            input(type="text" class="finp" placeholder="Email")
          .form-row
            textarea(type="text" class="ftext" placeholder="Message")