.main-slider-container.swiper-container
  .main-slider-wrapper.swiper-wrapper
    .main-slider-slide.swiper-slide 
      h1.main-heading This is a main heading
      .slide-text Lorem Ipsum is simply dummy text of the printing
      .learn-more-btn Learn More
    .main-slider-slide.swiper-slide
      h1.main-heading This is a main heading
      .slide-text Lorem Ipsum is simply dummy text of the printing
      .learn-more-btn Learn More
    .main-slider-slide.swiper-slide
      h1.main-heading This is a main heading
      .slide-text Lorem Ipsum is simply dummy text of the printing
      .learn-more-btn Learn More
  .swiper-button-prev.swiper-prev
  .swiper-button-next.swiper-next
