.plans
  .container
    .plans-wrap
      .plans-item
        .plans-item-inner
          .plan-heading
            span Basic
          .plan-price
            span $5.01/ Month
          ul.plan-info
            li
              span Lorem ipsum 
            li
              span Dolor sit amet, consect
            li
              span Adipiscing elit
            li
              span Proin commodo turpis
            li
              span acus pulvinarvel 
            li
              span Prnare nisi pretium.
          .wrap-buy-now
            a(href="#").buy-now Buy now
      .plans-item
        .plans-item-inner
          .plan-heading
            span Pro
          .plan-price
            span $10.01/ Month
          ul.plan-info
            li
              span Lorem ipsum 
            li
              span Dolor sit amet, consect
            li
              span Adipiscing elit
            li
              span Proin commodo turpis
            li
              span acus pulvinarvel 
            li
              span Prnare nisi pretium.
          .wrap-buy-now
            a(href="#").buy-now Buy now
      .plans-item
        .plans-item-inner
          .plan-heading
            span Premium
          .plan-price
            span $20.01/ Month
          ul.plan-info
            li
              span Lorem ipsum 
            li
              span Dolor sit amet, consect
            li
              span Adipiscing elit
            li
              span Proin commodo turpis
            li
              span acus pulvinarvel 
            li
              span Prnare nisi pretium.
          .wrap-buy-now
            a(href="#").buy-now Buy now
