.team
  h2.team-heading The Team
  ul.team-wrap
    li.team-item
      .preview
        img(src="img/temp/avatar.png", alt="")
      .name Adrian Thomas
      .position CEO & Founder
      .description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
    li.team-item
      .preview
        img(src="img/temp/avatar.png", alt="")
      .name Narate Ketram
      .position Creative Director
      .description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
    li.team-item
      .preview
        img(src="img/temp/avatar.png", alt="")
      .name Fernando Comet
      .position CEO & Founder
      .description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
    li.team-item
      .preview
        img(src="img/temp/avatar.png", alt="")
      .name Adedayo saheed
      .position Creative Director
      .description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 